@model IEnumerable<House>


@{
    ViewData["Title"] = "List of Houses";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Title
                                    
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@Url.Content("~/Images/" + item.ImageURL)" width="100%" alt="@item.Title">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Address: </b>@item.Address.Street, @item.Address.Ward, @item.Address.District, @item.Address.Province </p>
                            <p class="card-text"><b>Bedrooms: </b>@item.Bedrooms</p>
                            <p class="card-text"><b>Bathrooms: </b>@item.Bathrooms</p>
                            <p class="card-text"><b>Price: </b>@item.Price.ToString("c")</p>
                            <p>
                                <b>Status:  </b>
                                @if (@item.Status == "SOLD")
                                {
                                    <span class="badge bg-danger text-white">SOLD</span>
                                }
                                else
                                {
                                    <span class="badge bg-success text-white">AVAILABLE</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Detail" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <!-- Assuming there's a controller named 'Orders' with an action named 'AddItemToShoppingCart' -->
                                    <a class="btn btn-success text-white"
                                       asp-controller="Orders"
                                       asp-action="AddItemToShoppingCart"
                                       asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Add to Cart
                                    </a>
                                }
                                
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
</div>